* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    font-family: Verdana;
    margin: 0 8px;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
    text-align: center;
    margin: 33.5px 0;
}

.download-link a {
    color: aquamarine;
    font-size: 16px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
    margin: 34.86px 0;
}

p {
    margin: 21px 0;
}

#info {
    font-size: 21px;
    color: gray;
}

.image {
    margin: 21px 0;
}

#footer {
    text-align: right;
    width: 100%;
    color: gray;
}