* {
    padding: 0;
    margin: 0;
}

#top-header {
    font-family: Verdana;
    font-size: 50px;
    font-weight: normal;
    color: white;
    text-align: center;
}

.download-link a {
    color: aquamarine;
    font-size: 16px;
}